
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*margin{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100%;
    background-color: black;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:30px;
    flex-direction: column;
}
#logo{
    width:20vw;
}
h1{
    color:white;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#name{
    color:rgba(212,43,122);
    font-size:45px;
}
#va{
    font-size: 45px;
    color:rgba(43,206,212);
}
#voice{
    width:230px;
    height:200PX;
    display:none;
}
#btn{
width:30%;
background: linear-gradient(to right,rgb(21,145,207),rgb(255,0,119) );
padding:10px;
height:120px;
display:flex;
justify-content: center;
align-items: center;
gap:10px;
font-size:20px;
border-radius: 20px;
color:white;
box-shadow:2px 2px 10px rgb(21,145,207) , 2px 2px 10px rgb(255,0,119);
border: none;
transition: all 0.5s;
cursor:pointer;
}
#btn:hover{
    box-shadow:2px 2px 20px rgb(21,145,207) , 2px 2px 20px rgb(255,0,119);
    letter-spacing:2px;
}